

section.playVideoWrap{
    position: relative;
    padding: 20px;
}

div.detailNumber{
    font-weight: 300;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #656d78;
    font-size: 20px;
}

ul.countWrap{
    display: flex;
}

ul.countWrap > li{
    list-style: none;
    margin: 0 15px;
}

ul.countWrap > li.good{
    color: #ed5565;
}

ul.countWrap > li.bad{
    color: #a0d468;
}


h1.title{
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
}

h2.channelTitle{
    font-size:16px;
    font-weight: 300;
    margin: 20px 0 ;
}

pre.description{
    font-size: 16px;
    font-weight: 300;
    white-space: pre-wrap;
}