

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

/* SearchPage */
div.content{
    position: relative;
    top: 125px;
    display: flex;
}
div.playVideo{
    flex: 1 1 70%;
}
div.list{
    flex:  1 1 30%;
}

/* MainPage */
div.mainPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px){
    div.content{
        flex-direction: column;
    }
}


