
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SearchPage */
div.content{
    position: relative;
    top: 125px;
    display: flex;
}
div.playVideo{
    flex: 1 1 70%;
}
div.list{
    flex:  1 1 30%;
}




div.mainPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


