
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}

div#root, div.App{

}

div.mainPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


