


li.videoList{
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
    width: 20%;
}
li.videoList > a{
    text-decoration: none;
}

li.videoList > a > img.thumbnail{
    width: 100%;
    border-radius: 10px;
}
li.videoList > a  > h2.title{
    font-size: 1em;
    width: 100%;
    color: #000;
    margin: 10px 0 5px;
}
li.videoList > a  > span.channelTitle{
    font-size: 0.9em;
    color: #808080;
}


@media screen and (max-width: 1000px){
    li.videoList{
        width: 100%;
        margin-bottom: 30px;
    }
}